
<div class="wrapper-coach">

<h1>Hi, i'm your coach</h1>
<p>your question was: <%= @query %> </p>


<p>my answer: <%= @answer %></p>
<br/>
<div class="link_coach">
<%= link_to "ask me a new question", '/ask' %>
</div>
</div>

