<div class="wrapper-coach">
<h1>ask away!</h1>
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Ask your question">
  <input type="submit" value="Go on!">
</form>
</div>
